@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  input:-webkit-autofill {
    @apply bg-black;
    -webkit-box-shadow: 0 0 0px 1000px #000000 inset;
    box-shadow: 0 0 0px 1000px #000000 inset;
    -webkit-text-fill-color: #ffffff;
  };

  ::selection {
    background-color: theme("colors.brand");
    color: white;
  }

  footer::selection {
    color: theme("colors.accent");
  }

  ul, li {
    list-style: none;
  }

  form {
    @apply text-md;
  };

  input {
    @apply h-10 bg-transparent border-2 rounded-md px-1;
  };
  
  textarea {
    @apply bg-transparent border-2 rounded-md px-1 resize-none;
  };
  
  datalist {
    @apply max-h-60;
  }
}



/* Hover underline custom class */
.hover-underline::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: theme('colors.brand');
  transform: scaleX(0);
  transform-origin: left; /* Para que el subrayado empiece de la izquierda */
  transition: transform 0.3s ease;
}
.hover-underline-white::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left; /* Para que el subrayado empiece de la izquierda */
  transition: transform 0.3s ease;
}

.hover-underline:hover::after, .hover-underline-white:hover::after {
  transform: scaleX(1);
}

/* Para que el subrayado desaparezca hacia la derecha */
.hover-underline:not(:hover)::after, .hover-underline-white:not(:hover)::after {
  transform-origin: right;
  transform: scaleX(0)
}

.synergia-header {
  @apply text-6xl lg:text-15xl text-center font-bold;
}

.main-page-header {
  @apply  text-4xl lg:text-6xl text-center font-bold;
}

.alternative-main-page-header {
  @apply text-4xl lg:text-6xl text-center font-bold px-5 py-2 rounded-md text-white bg-brand;
}

.card-bottom-selected {
  @apply lg:hover:h-full lg:hover:-translate-y-1/2
}

.card-top-selected {
  @apply lg:hover:h-full
}

.input-error {
  @apply mt-2 text-sm text-red-300;
}
.form-error {
  @apply mt-3 text-md text-red-300 font-semibold;
}
.form-success {
  @apply mt-3 text-md text-green-300 font-semibold;
}

.scroll-y-container{ 
  overflow-y: scroll;
  overscroll-behavior: contain;
}
.scroll-y-container::-webkit-scrollbar {
  visibility: hidden;
}

.comments-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: minmax(50px, 1fr);
  gap: 10px;

}

.comments-container .main-page-header {
  grid-column: 1 / -1;
}
